<!doctype html>
<html ng-app>
  <head>
    <title>Welcome to Cooking Spree!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="ingredient.js"></script>
  </head>

  <body>
    <h1>Welcome to Cooking Spree!</h1>
    <div ng-controller="IngredientCtrl">
      <h2>Ingredients</h2> 
      <form ng-submit="addIngredient()">	
	<input type="text" ng-model="ingredientName" placeholder="Enter ingredient name here" />
	<input class="btn-primary" type="submit" value="add" />	
      </form>
      
      <hr/>
      
      [ <a href="" ng-click="clear()">clear</a> ]
      <ul class="unstyled">
        <li ng-repeat="ingredient in ingredients">
          <input type="checkbox" ng-model="ingredient.selected" />
          <span>{{ingredient.name}}</span>
        </li>
      </ul>
      
      <hr />
      
      <h2>Pairs</h2>
      <ul class="unstyled">
	<li ng-repeat="pair in findPairs()">{{pair}}</li>
      </ul>
    </div>
  </body>
  
</html>